.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: #1CFEBA;
}

.button {
    width: 150px;
    text-decoration: none;
    background-color: #1CFEBA;
    color: #333333;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 6px 10px 6px;
    border-top: 1px solid #1CFEBA;
    border-right: 1px solid #1CFEBA;
    border-bottom: 1px solid #1CFEBA;
    border-left: 1px solid #1CFEBA;
    border-radius: 10%/30%;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    transition: .4s;
}