.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

.text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: #1CFEBA;
}