.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20%;
}

.button {
    width: 150px;
    text-decoration: none;
    background-color: #1CFEBA;
    color: #333333;
    margin: auto;
    padding: 10px 6px 10px 6px;
    border-radius: 10%/30%;
    border-top: 1px solid #1CFEBA;
    border-right: 1px solid #1CFEBA;
    border-bottom: 1px solid #1CFEBA;
    border-left: 1px solid #1CFEBA;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    transition: .4s;
}