
*{
    box-sizing: border-box;
    position: relative;
    font-family: 'Lato', sans-serif;

}


.custom-shape-divider-top-1652449314 {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    /* line-height: 0; */
}

.custom-shape-divider-top-1652449314 svg {
    position: fixed;
    display:block;
    width: calc(202% + 1.3px);
    height: 500px;
    z-index: -5;
}

.custom-shape-divider-top-1652449314 .shape-fill {
    fill: #272727;
}


h1{
    text-align: start;
    margin-left: 20%;
    margin-top: 10vw;
    font-family: 'Josefin Sans', sans-serif;
}
#projectCard{
  margin: 0;
}
p{
    margin-left: 20%;
}


.snapContainer{
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
}

#scrollSection{
  height: 90%;
  scroll-snap-align: start;
}


#subTitle{
  text-align: center;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
}

#aboutMeImg{
    max-width: 100%;
    max-height: 100%;
}

.card{
    transition: .8s ease;
}

.overlay {
    position: absolute;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    transition: .5s ease;
    background-color: #1b1b1b;
}

.size{
  width: 20%;
  height: auto;
}


.card:hover .overlay {
    opacity: .6;
}


.card:hover{
    transform: scale(1.05);
}


@media screen and (max-width: 601px) {
    div {
      font-size: 15px;
    }
    #homepageTitle1, #homepageTitle2 {
      font-size: 60px;
    }
  }


  @media screen and (min-width: 1024px) {
    div {
        font-size: 20px;
      }
    #homepageTitle1, #homepageTitle2{
      font-size: 100px;
    }
  }