.card {
    box-shadow: 0 2px 8px 0 rgb(255, 255, 255);
    transition: 0.3s;
    background-image: url("smalltalk.png");
  }

.text{
    text-align: center; 
}

.link{
    position: absolute;
    bottom: 0;
}

  .container {
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    padding: 2px 16px;
    position: relative;
}