.container{
    position: relative;
    width: 30vw;
    margin-left: 10%;
}

.imgContainer{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100vh;
}

.title{
    text-align: center;
    font-size: 60px;
    margin-bottom: 10%;
    font-family: 'Josefin Sans', sans-serif;
    color: #1CFEBA;
}

.imgs{

    margin-right: 15%;
}